:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #997CF4;
  text-decoration: inherit;
}
a:hover {
  color: #CF0084;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin-bottom: 50px;
}

h2 {
  color: #A000C2;
}

.inhalt {
  text-align: center;
  margin: auto;
  font-size: 19px;
  font-family: "Vivaldi";
}

p {
  max-width: 600px;
  text-align: center;
  margin: auto;
}

ul {
  margin-left: auto;
}

li {
  max-width: 600px;
  text-align: left;
}

.impressum {
  font-size: 10px;
  margin-top: 50px;
  text-align: center;
}